* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}

.banner .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.banner_section {
  background-image: url("../images/banner_image_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 10px 80px;
}

.banner h1 {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.banner h2 {
  font-size: 23px;
  font-weight: 700;
  color: white;
}

.custome-tab-body {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
  border-radius: 10px;
}

.custome-tab-body p {
  color: #ffffff !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.book-btn {
  background-color: #acff3b;
  color: black;
  padding: 3px 20px;
  border-radius: 3px;
}

.book-btn:hover {
  background-color: #95f70d;
  color: black;
  padding: 3px 20px;
  border-radius: 3px;
}

.customeNav-link .nav-link {
  color: #000;
}

.customeNav-link:hover {
  color: #000;
  background-color: #95f70d;
}

.customNav-tabs.active {
  color: #000000;
  background-color: #95f70d;
}

.customeNav-link :hover {
  color: #000000;
}

.customNav-tabs .nav-link.active {
  color: #000000;
  background-color: #95f70d;
  border-color: #95f70d;
}

.customNav-tabs {
  border-width: 0px;
}

.customeNav-link {
  color: black;
  background-color: #acff3b;
}

.customeNav-link.active {
  color: black;
  background-color: #acff3b;
}

.delivery-text {
  color: transparent !important;
  -webkit-text-stroke: 0.3px #acff3b;
}
.delivery-text1 {
  color: white;
  font-weight: 700 !important;
  font-size: 77px;
}

.item-moving-radius {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  min-width: 12rem !important;
}

.package-moving-radius {
  border-radius: 0px !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  min-width: 12rem !important;
}

.cross-broder-radius {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  min-width: 12rem !important;
}

@media screen and (max-width: 716px) {
  .item-moving-radius {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    min-width: 12rem !important;
  }

  .package-moving-radius {
    border-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    min-width: 12rem !important;
  }

  .cross-broder-radius {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    min-width: 12rem !important;
  }
}
@media screen and (max-width: 523px) {
  .item-moving-radius {
    border-radius: 20px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    min-width: 12rem !important;
  }

  .package-moving-radius {
    border-radius: 20px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    min-width: 12rem !important;
  }

  .cross-broder-radius {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    min-width: 12rem !important;
  }
}

@media screen and (max-width: 425px) {
  .delivery-text1 {
    color: white;
    font-weight: 700 !important;
    font-size: 40px;
  }
}

@media screen and (max-width: 1245px) {
  .delivery-text1 {
    color: white;
    font-weight: 700 !important;
    font-size: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .delivery-text1 {
    color: white;
    font-weight: 700 !important;
    font-size: 44px;
  }
}

@media screen and (min-width: 1600px) {
  .delivery-text1 {
    color: white;
    font-weight: 700 !important;
    font-size: 100px;
  }
  .custome-tab-body p {
    font-size: 26px !important;
  }
}
