* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}
.character_cards {
  background-color: #acff3b !important;
  border-radius: 5px;
}

.inner_btn {
  border: 1px solid #333333 !important;
  background: #acff3b !important;
  font-size: 22px;
  font-weight: 500 !important;
  line-height: 29.33px;
  font-family: "Afacad", system-ui;
}

.inner_btn:hover {
  background-color: #95f70d !important;
  color: black !important;
}

.button-border-group {
  padding: 6px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  top: 20px;
}
