* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}

.footer {
  background-color: #acff3b;
  padding: 20px 0;
}

.connect_heading {
  color: #333333 !important;
}

.connect {
  padding: 0 0 40px 0 !important;
}

/* form */
.connect .footer-form {
  background: none !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  font-weight: 700;
  margin: 1.8rem 0;
  box-shadow: none !important;
  text-align: start !important;
  padding: 24px 0;
}

@media screen and (max-width: 425px) {
  .input-colum {
    width: 100% !important;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .connect .footer-form {
    background: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    font-weight: 700;
    margin: 0;
    box-shadow: none !important;
    text-align: start !important;
    padding: 18px 0;
  }
  .conect_heading {
    margin-top: 0 !important;
  }
  .connect .footer-btn {
    border: 1px solid;
    padding: 12px 45px !important;
    font-weight: 500;
    margin-top: 40px !important;
  }
}

@media (max-width: 992px) {
  .footer .row {
    display: flex;
    flex-direction: row;
  }
}

.connect .footer-btn {
  border: 1px solid;
  padding: 12px 45px !important;
  font-weight: 500;
  margin-top: 10px;
}

.conect_heading {
  margin-top: 8rem;
}

.footer-title {
  border-bottom: 2px solid;
  width: 14%;
}
.footer-links .links {
  margin-bottom: 20px;
  padding: 5px 40px 0 10px !important;
}
.footer-links .links2 {
  margin-bottom: 10px;
  padding: 5px 40px 0 10px !important;
}
