* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}

.header {
  background-color: #acff3b;
}

.header .userlogin-button {
  background-color: #333333;
  color: #acff3b;
  font-size: 16px;
  font-weight: 500;
  font-family: "Afacad", system-ui;
}

.dotted-border {
  position: relative;
}

.dotted-border::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px dotted rgba(51, 51, 51, 1);
  border-radius: 5px;
  pointer-events: none;
}

.header .userlogin-button:hover {
  background-color: #333333;
  color: #acff3b;
  font-size: 16px;
  font-weight: 500;
  font-family: "Afacad", system-ui;
}

.header .userlogin-button-large {
  background-color: #333333;
  color: #acff3b;
  font-size: 16px;
  font-weight: 500;
  font-family: "Afacad", system-ui;
  padding-left: 0rem;
  padding-right: 1rem;
}

.header .userlogin-button-large:hover {
  background-color: #333333;
  color: #acff3b;
  font-size: 16px;
  font-weight: 500;
  font-family: "Afacad", system-ui;
}

.header-logo {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-left: 1rem;
  padding-right: 0rem;
}

.header-menu a {
  font-weight: 500;
  font-size: 22px;
  font-family: "Afacad", system-ui;
}

.header-menu a:hover {
  font-weight: 700;
  font-size: 22px;
  font-family: "Afacad", system-ui;
}

.header-menu .nav-link {
  position: relative;
  padding-bottom: 5px;
}

.header-menu .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  transition: width 0.3s ease;
}

.header-menu .nav-link:hover::after {
  width: 100%;
}

@media screen and (max-width: 380px) and (min-width: 320px) {
  .header-logo {
    max-width: 150px;
  }
  .navbar-toggler .button {
    max-width: 150px;
  }
  .button {
    max-width: 200px;
  }
}

.icon-input {
  position: absolute;
  left: 10px;
  color: #9c54ff;
}
