* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}

/* Home Section -2 */
.homeSection-2 {
  background-color: #acff3b;
  border-radius: 10px;
}

/* .bg-image {
  background-image: url("../images/homeSection-2_bg_image_2.png");
  background-repeat: no-repeat;
} */

.homeSection-2_tab {
  border-radius: 40px;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 22px;
  display: flex;
}

@media screen and (max-width: 626px) {
  .homeSection-2_tab {
    display: block;
  }
}

.homeSection-2 .nav-pills .nav-link.active {
  background-color: black;
  color: #acff3b;
  border-bottom: 2px dotted #acff3b;
  border-radius: 0px;
}

.homeSection-2 .nav-pills .nav-link {
  color: white;
}

.homeSection-2 .tab-content {
  font-weight: 500;
  font-size: 22px;
}

.bookingNow-btn {
  background-color: #acff3b;
  color: black;
  padding: 5px 25px;
  border-radius: 3px;
  border: 1.5px solid #000;
  font-size: 700;
  font-size: 22px;
}

.bookingNow-btn:hover {
  background-color: #95f70d;
  color: black;

  border-radius: 3px;
  border: 1.5px solid #000;
  font-size: 700;
  font-size: 22px;
}
/* .Home Section -2 */

/* .Home Section -3 */

.homeSection-3 {
  background-image: url("../images/home_bg-design_image.png");
  background-repeat: no-repeat;
}
.text-backgroung-image {
  background-image: url("../images/bg_transport_agency_text\ _image.png");
  background-repeat: no-repeat;
  top: 0;
}
