* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}
/* troubled_content */
.troubled_content {
  background: url(../images/troubled_bg_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.call_us {
  background: #acff3b !important;
  color: #333333;
  font-weight: bolder !important;
  padding: 5px 30px !important;
  margin: 20px auto;
}

/* store  */
.store {
  background: #acff3b;
}

.store_imgs img {
  max-width: 200px;
}

@media screen and (min-width: 1050px) {
  .store .col-background {
    background-image: url(../images/store_bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}

.store h1 {
  display: flex;
  justify-content: center;
}
.store_imgs img {
  max-width: 100px;
  display: flex;
  flex-direction: column;
}
